@font-face {
  font-family: 'Shabnam';
  src: url('/Shabnam/Shabnam-Bold.woff2') format('woff2'),
    url('/Shabnam/Shabnam-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Shabnam';
  src: url('/Shabnam/Shabnam-Light.woff2') format('woff2'),
    url('/Shabnam/Shabnam-Light.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

:root {
  --blue: #3f76bf;
  --darkblue: #1f2c56;
  --orangea: #ffc107;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Shabnam;
  font-weight: lighter;
  padding: 20px;
  direction: rtl;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 80px;
  border-radius: 50px;
  background-color: var(--blue);
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

header a {
  color: var(--white);
  text-decoration: none;
  transition: all ease 0.7s;
}

.icon-card a {
  color: white;
  font-size: 1.5rem;
}

.icon-card a:hover {
  color: var(--orangea);
  font-size: 2rem;
}

.titr_content {
  font-size: 2rem;
  color: var(--darkblue);
  font-weight: bold;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* دو ستون با عرض مساوی */
  gap: 30px;
  /* فاصله بین محتوا و عکس */
  margin: 2rem auto;
  /* مرکزسازی و فاصله مناسب */
  padding: 2rem;
  max-width: 1200px;
  /* محدود کردن عرض برای صفحه‌های بزرگ */
  align-items: center;
  /* تراز عمودی وسط */
}

.content {
  margin-right: 50px;
}

.text_content {
  font-size: 1.3rem;
  color: var(--darkblue);
}

.img1 img {
  border-radius: 50px;
  border: 1px solid black;
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.Category {
  width: 100%;
  height: auto;
  transition: all ease 0.7s;
  display: grid;
  grid-template-columns: repeat(3, 125px);
  gap: 40px;
  justify-content: center;
  direction: ltr;
  padding: 0 20px;
}

.box a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 auto;
}

.box {
  width: 125px;
  height: 125px;
  border-radius: 30px;
  border: 1px solid var(--blue);
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: all ease 0.5s;
  cursor: pointer;
}

.box:hover {
  background-color: var(--darkblue);
}

.titrcategori {
  text-align: center;
  color: var(--darkblue);
  font-size: 2rem;
}

.Products {
  background-color: rgb(233, 231, 231);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* این باعث میشه کارت‌ها تو چند ردیف بچینن */
  padding: 20px;
  margin: 50px auto;
  gap: 20px;
  /* فاصله بین کارت‌ها */
  justify-content: center;
  /* وسط‌چین قشنگ */
  box-sizing: border-box;
}


.products img {
  object-fit: cover;
  width: 100px;
  height: 250px;
  border-radius: 50px;
  border: 1px solid var(--orangea);
}

.card img {
  object-fit: cover;
  margin: 0 auto;


  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid var(--orangea);
  display: block;
  margin: 10px auto 15px auto;


}

.old-price {
  text-decoration: line-through;
  /* خط وسط متن */
  color: rgb(144, 0, 0);
  /* رنگ محو برای قیمت قبلی */
}




.card {
  border: 1px solid var(--blue);
  width: 300px;
  height: 490px;
  padding: 15px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-color: var(--blue);
  position: relative;
  transition: all eses 0.7;


}

.card button {
  background-color: var(--darkblue);
  color: var(--orangea);
  font-family: Shabnam;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 14px;
  left: 20px;



}

.card button:hover {
  transform: scale(1.2);
  background-color: #ffc107;
  color: #1f2c56;

}

.rating {
  color: goldenrod;
}

.Products-titr {
  text-shadow: 2px 3px 4px var(--blue);
  color: var(--darkblue);
  text-align: center;
  font-size: 2rem;
  margin: 25px;
  padding: 5px;
}

.shop {
  width: scale(100%-40px);
  height: 200px;
  color: var(--darkblue);
  background-color: rgb(227, 227, 227);
  border-radius: 20px;
  padding: 10px;

  margin: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  transition: all eaes 0.5;

}

.shop button {
  background-color: #3f76bf;
  color: #1f2c56;
  border-radius: 5px;
  height: 50px;
  width: 123px;
  font-size: 1rem;
  font-weight: bold;
  font-family: Shabnam;
  cursor: pointer;
}

.shop button:hover {
  background-color: var(--darkblue);
  color: var(--blue);
  animation: btnhover 0.5s infinite ease-in-out;
}

@keyframes btnhover {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.why-sandstore h2 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;

  color: #1f2c56;


}

.reason i {
  color: var(--orangea);
  font-size: 1.5rem;


}

.reason {
  background-color: #3f76bf;
  color: white;
  padding: 20px;
  border-radius: 50px;
  width: 500px;
  height: auto;
  text-align: right;
}

.box1r,
.box3r {
  margin-right: 800px;
  margin-top: 20px;
}

.box2r,
.box4r {
  margin-left: 800px;
  margin-top: 20px;
}

.about {
  display: flex;
  justify-content: center;
  /* وسط‌چین افقی */
  align-items: center;
  /* وسط‌چین عمودی */
  gap: 30px;
  /* فاصله بین باکس‌ها */
  margin: 50px auto;
  width: 80vw;
  padding-top: 30px;
  flex-wrap: wrap;
  /* اگه صفحه کوچیک شد، بیفته زیر هم */
}

.box-titr {
  border-radius: 30% 70% / 50% 50%;
  border: 1px solid var(--darkblue);
  background-color: var(--blue);
  width: 210px;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: white;
}

.about-box {
  border-radius: 30px;
  border: 1px solid var(--darkblue);
  background-color: var(--blue);
  color: white;
  width: 600px;
  height: auto;
  padding: 20px;
}